File name : .env  # update this file with valid values and rename the file
MicrosoftAppId = "xxxxxxxxxxxxxxxxxxxxxx"  # Replace with your bot's app ID
MicrosoftAppPassword = "yyyyyyyyyyyyyyyy"  # Replace with your bot's password
